@import url('https://fonts.googleapis.com/css?family=Lobster'); /*font for header logo*/
@import url('https://fonts.googleapis.com/css?family=Lobster+Two'); /*font for motto*/
@import url('https://fonts.googleapis.com/css?family=Raleway'); /*--- Nav Font and paragraph --*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');

*{
   padding: 0;
   margin: 0;
   border:0;

}
html,body{
    height: 100%;
    width: 100%;
    
    }
h2{
    font-family: 'Lobster', sans-serif;
    font-size: 250%;
    
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    color:black;
    margin:auto;
   
    line-height: 200%;
    
   
}
.intro{
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url(Images/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top:0;
    margin: auto;
    
}
.intro p {
    font-family: 'Lobster';
    font-size: 300%;
     padding-top:100px;
     color:#ffffff;
}
header{
    height: 98px;
    width:100%;

    
}
.header-inner{
    max-width: 1200px;
    margin: 0 auto;
}
#logo{
    float: left;
    color: #ffffff;
    margin: 30px;
    width: 200px;
    height: 60px;

    }
#logo:hover{
      color:#808080;
    
}
nav{
    float:right;
    padding: 29px 20px 0px 0px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 15px;
   
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
}

nav ul li a:hover{
    color:#808080;
    
}

article{
    padding-top: 100px;
    padding-left: 50px;
}
.clearfix{
    clear:both;
    height: 6%;
    
}
.about-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 140%;
    color:black;
    text-indent: 3%;
    padding-top: 10px;
}
.about-text h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    color:black;
    text-align: center;
}
.about-text{
    float:right;
    width: 40%;
    margin:4%;

}
img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
   

}
.about-image{
  float:left;
  width: 40%;

  padding-top: 100px;
  padding-left: 130px;
}
.one-third{
    width:33.33333%;
    float:left;
    height: auto;
}

.portheader h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    color:black;
    text-align: center;
    padding:40px;
}
.one-third h3{
    font-family: 'Raleway', sans-serif;
    font-size: 140%;
    color:black;
    text-align: center;
    }
    .one-third img{
        float:left;
        width: 70%;
        padding:80px;
        padding-top:30px;

    }
.portnote p{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color:black;
    text-indent: 3%;
    
    


}

 
.social_links  {
   color:#c40062;
   text-decoration:underline;
   text-decoration-style: dotted;
}

footer{
    background-color: pink;
    height:80px;
}

























































