@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two'); 
@import url('https://fonts.googleapis.com/css?family=Raleway'); 
@import url('https://fonts.googleapis.com/css?family=Merriweather');

*{
   padding: 0;
   margin: 0;
   border:0;

}
html,body{
    height: 100%;
    width: 100%;
    
    }
h2{
    font-family: 'Lobster', sans-serif;
    font-size: 250%;
    
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    color:black;
    margin:auto;
   
    line-height: 200%;
    
   
}
.intro{
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url(Images/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top:0;
    margin: auto;
    
}
.intro p {
    font-family: 'Lobster';
    font-size: 300%;
     padding-top:100px;
     color:#ffffff;
}
header{
    height: 98px;
    width:100%;

    
}
.header-inner{
    max-width: 1200px;
    margin: 0 auto;
}
#logo{
    float: left;
    color: #ffffff;
    margin: 30px;
    width: 200px;
    height: 60px;

    }
#logo:hover{
      color:#808080;
    
}

 #menu{
    
    width: 40px;
    height: 40px;
    background:url(Images/nav.png) no-repeat center;
    display:hidden;
 }
nav{
    float:right;
    padding: 29px 20px 0px 0px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 15px;
   
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
}

nav ul li a:hover{
    color:#808080;
    
}

article{
    padding-top: 100px;
    padding-left: 50px;
}
.clearfix{
    clear:both;
    height: 6%;
    
}
.about-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 140%;
    color:black;
    text-indent: 3%;
    padding-top: 10px;
}
.about-text h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    color:black;
    text-align: center;
}
.about-text{
    float:right;
    width: 40%;
    margin:4%;

}
img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
   

}
.about-image{
  float:left;
  width: 40%;

  padding-top: 100px;
  padding-left: 130px;
}
.one-third{
    width:33.33333%;
    float:left;
    height: auto;
}

.portheader h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    color:black;
    text-align: center;
    padding:40px;
}
.one-third h3{
    font-family: 'Raleway', sans-serif;
    font-size: 140%;
    color:black;
    text-align: center;
    }
    .one-third img{
        float:left;
        width: 70%;
        padding:80px;
        padding-top:30px;

    }
.portnote p{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color:black;
    text-indent: 3%;
    
    


}

 
.social_links  {
   color:#980459;
   text-decoration:underline;
   text-decoration-style: dotted;
}

footer.second p{
    padding:5px 0 9px 0;
    text-align: center;
}

@media screen and (max-width: 768px){
    *{
        padding:0;
        margin:0;
        border: 0;
    }
   .intro{
    height: 60%;
    width: 100%;
    background-color:#d88492;
    background-size: 0;

    
    
}
    

     h2{
        font-size:150%;
     }
     p{
        font-size:100%;
     }

     header{
        position: absolute;
     }

    .intro p{
        font-size:150%;
        padding-top: 150px;
    }
    .clearfix{
    clear:both;
    height: 3%;
    
    }
   .about-text p {
   
    font-size: 90%;
    text-indent: 9%;
    padding-left:20px;

    }
   .about-text{
    width: 100%;
}


   .about-text h2 {
    
    font-size: 100%;
    color:black;
    
}

img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
   

}
.about-image{
  
  width: 100%;

  padding: 10px;
}
.one-third{
    width:100%;
    
    height: auto;
}

.portheader h2 {
   
    font-size: 100%;
    
    text-align: center;
    padding:20px;
}
.one-third h3{
  
    font-size: 80%;
    
    text-align: center;
    }
    .one-third img{
        
        width: 100%;
        padding:10px;
       

    }
.portnote p{
 
    font-size: 70%;
  
    text-indent: 3%;
    
    


}


footer.second p{
    padding:5px 0 9px 0;
    text-align: center;
}



#menu{
   display: inline-block;
}

nav ul, nav:active ul{
    display: none;
    z-index: 1000;
    width:50%;
    border:solid 1px #fff;
    position: absolute;
    right:20px;
    top: 68px;


}
nav li{
    width: 100%;
    padding:0 10px;
    text-align: center;
}
nav:hover ul{
    display:block;
}
   




}

























































